<table class="table-auto w-full border-collapse border-t-gray-300 border-t-1">
  <thead class="bg-gray-100 text-gray-700 uppercase text-sm">
    <tr>
      <th class="italic">#</th>
      @for (header of HeaderArray; track $index) {
      <th class="p-3 text-center">
        {{ header.header }}
      </th>
      }
    </tr>
  </thead>
  <tbody>
    @for (row of RowArray; track $index) { @if($index < 5){
    <tr class="hover:bg-gray-200 transition">
      <td class="p-3 text-center">{{ $index + 1 }}</td>
      @for (cell of HeaderArray; track $index) {
      <td class="p-3 text-center">
        {{ row[cell.field] }}
      </td>
      }
    </tr>
    } }
  </tbody>
</table>
